<link rel="stylesheet" href="style.css">

<div>
    <img class = "bg-container" src="../images/cinema.jpg">
    <h1>Cinema Ironhack</h1>
    
    <p><a href="/movies"> Check the movies! </a> </p>
    </form>
</div>
